@{
	ViewData["Title"] = "Input Age Form";
}

<h1>@ViewData["Title"]</h1>

<form action="FormProcessor" method="post">
	<label>Enter age:</label>
	<input name="age" />
	<input type="submit" value="Save" />
</form>