@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Hello, World! Will is learning C# in the ASP.NET environment.</h1>
    <p><a href="https://www.etsu.edu"   target="_blank">ETSU Homepage</a></p>

    <form method="post" action="/home/data">
        <input type="text" name="userName" placeholder="userName"/>
        <input type="submit" value="Submit"/>
    </form>
</div>
