@{
    Book exampleBook = new Book("The Great Gatsby", "F. Scott Fitzgerald", 9780743273565);
}

<h1>My Book</h1>
<p><b>Title: </b>@exampleBook.Title</p>
<p><b>Author: </b>@exampleBook.Author</p>
<p><b>ISBN: </b>@exampleBook.ISBN</p>