@{
    bool boolean = true;
    sbyte signedByte = -128;
    decimal decimalNumber = 1.34M;
    float floatNumber = 4.56F;
    uint unsignedInt = 32768;
    short shortNumber = 32767;

    string viewString = $"{boolean} {signedByte} {decimalNumber} {floatNumber} {unsignedInt} {shortNumber}";
}

<h1>Simple Types</h1>
<p>My name is Will. My values: @viewString</p>